<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class="contenido wrapper">
    <div class="container">
      <h2>Bebidas Fantasia</h2>
       <div class="col-md-3">
           <%= image_tag "IMG_1156.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Bebidas Variedad 2Lt Retornable</h4>
           <h4>$1.300</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1157.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Bebidas Variedad 2.5Lt Retornable</h4>
           <h4>$1.500</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1158.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Bebidas Variedad 3Lt Desechable</h4>
           <h4>$1.800</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1159.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Bebidas Variedad 1.5Lt Desechable</h4>
           <h4>$1.400</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1160.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Energetica RedBull 250cc</h4>
           <h4>$1.500</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1161.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Bebidas Variedad 591cc</h4>
           <h4>$750</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1162.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Jugos Whatts Variedad 1.5Lt</h4>
           <h4>$1.100</h4>
       </div>
     </div>
   </section>
  </body>
</html>
