<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class="contenido wrapper">
    <div class="container">
      <h2>Cerveza</h2>
       <div class="col-md-3">
           <%= image_tag "IMG_1139.JPG", :alt => "Becker", :class =>"img-responsive"%>
           <h4>Becker Lata 350cc</h4>
           <h4>Pack $2.800 - c/u $500</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1140.JPG", :alt => "Heineken", :class =>"img-responsive"%>
           <h4>Heineken 1Lt</h4>
           <h4>$1.600</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1141.JPG", :alt => "Malta", :class =>"img-responsive"%>
           <h4>Malta Morenita 750cc</h4>
           <h4>$1.300</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1142.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Cerveza Escudo 1.2Lt</h4>
           <h4>$1.200</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1143.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Becker 1Lt</h4>
           <h4>$1.000</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1144.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4> Cristal 1.2Lt</h4>
           <h4>$1.300</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1145.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4> Royal Guard 1Lt</h4>
           <h4>$1.500</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1146.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Miller 355cc</h4>
           <h4>Pack $5.000 - c/u $900</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1147.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Heineken 355cc</h4>
           <h4>Pack $5.500 - c/u $950</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1148.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Corona 355cc</h4>
           <h4>Pack $5.500 - c/u $950</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1149.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Heineken Lata 350cc</h4>
           <h4>Pack $5.300 - c/u $900</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1150.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Cristal Lata 470cc</h4>
           <h4>Pack $4.300 - c/u $750</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1151.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4> Royal Guard Lata 350cc</h4>
           <h4>Pack $5.000 - c/u $850</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1152.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Escudo Lata 350cc</h4>
           <h4>Pack $3.500 - c/u $600</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1153.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Royal 350cc</h4>
           <h4>Pack $5.500 - c/u $950 - Pack + Vaso $6.000</h4>
       </div>
     </div>
   </section>
  </body>
</html>
