<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class="contenido wrapper">
    <div class="container">
      <h2>Cigarros</h2>
       <div class="col-md-3">
          <%= image_tag "IMG_1154.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
         <h4>Encendedor Brinko</h4>
         <h4>$300</h4>
     </div>

       <div class="col-md-3">
           <%= image_tag "IMG_1155.JPG", :alt => "Cerveza", :class =>"img-responsive"%>

           <h4>Papel OCB</h4>
           <h4>$700</h4>

     </div>
     <div class="col-md-3">
         <%= image_tag "IMG_1164.JPG", :alt => "Cerveza", :class =>"img-responsive"%>

         <h4>Lucky Strike</h4>

   </div>
   <div class="col-md-3">
       <%= image_tag "IMG_1165.JPG", :alt => "Cerveza", :class =>"img-responsive"%>

       <h4>Pall Mall</h4>

 </div>
 <div class="col-md-3">
     <%= image_tag "IMG_1167.JPG", :alt => "Cerveza", :class =>"img-responsive"%>

     <h4>Kent</h4>

</div>
<div class="col-md-3">
    <%= image_tag "IMG_1163.JPG", :alt => "Cerveza", :class =>"img-responsive"%>

    <h4>Precios Cigarros</h4>

</div>

       </div>
     </section>
  </body>
</html>
