<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h2>Licor de Crema</h2>
       <div class="col-md-4">
           <%= image_tag "IMG_1112.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Crema de Whiskey Carolans</h4>
           <h4>$9.000</h4>
       </div>
       <div class="col-md-4">
           <%= image_tag "IMG_1121.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Amaretto Bols</h4>
           <h4>$3.000</h4>
       </div>
       <div class="col-md-4">
           <%= image_tag "IMG_1120.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Granadina</h4>
           <h4>$2.600</h4>
       </div>
       <div class="col-md-4">
           <%= image_tag "IMG_1123.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Manzanilla Bols</h4>
           <h4>$2.500</h4>
       </div>
       <div class="col-md-4">
           <%= image_tag "IMG_1124.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Manzanilla Mitjans</h4>
           <h4>$2.000</h4>
       </div>
     </div>
  </body>
</html>
