<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class="contenido wrapper">
    <div class="container">
      <h2>Pisco</h2>
       <div class="col-md-3">
           <%= image_tag "IMG_1105.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Campanario 700cc</h4>
           <h4>$3.000</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1106.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Mal Paso 750cc</h4>
           <h4>$5.700</h4>
       </div>

       <div class="col-md-3">
           <%= image_tag "IMG_1113.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Capel 750cc</h4>
           <h4>$3.500</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1113.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Capel 700cc</h4>
           <h4>$3.000</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1115.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Artesanos del Cochiguaz</h4>
           <h4>$3.000</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1122.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Alto del Carmen 1Lt</h4>
           <h4>$5.200</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1122.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Alto del Carmen 750cc</h4>
           <h4>$4.500</h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1136.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4>Mistral 1Lt</h4>
           <h4>$5.500</h4>
       </div>
     </div>
   </section>
  </body>
</html>
