<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="estilo.scss">
    <title></title>
  </head>
  <body>
    <section class="contenido wrapper">
    <div class="container">
      <h2>Nuestros Productos</h2>
       <div class="col-md-3">
           <%= image_tag "IMG_1145.JPG", :alt => "Cerveza", :class =>"img-responsive"%>
           <h4><a href="<%=roots_cerveza_path%>">Cerveza</a></h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1128.JPG", :alt => "Vino", :class =>"img-responsive"%>
           <h4><a href="<%=roots_vino_path%>">Vino</a></h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1106.JPG", :alt => "Pisco", :class =>"img-responsive"%>
           <h4><a href="<%=roots_pisco_path%>">Pisco</a></h4>
       </div>
       <div class="col-md-3">
           <%= image_tag "IMG_1132.JPG", :alt => "Vodka", :class =>"img-responsive"%>
           <h4><a href="<%=roots_vodka_path%>">Vodka</a></h4>
       </div>
        <div class="col-md-3">
              <%= image_tag "IMG_1102.JPG", :alt => "Ron", :class =>"img-responsive"%>
              <h4><a href="<%=roots_ron_path%>">Ron</a></h4>
          </div>
          <div class="col-md-3">
              <%= image_tag "IMG_1159.JPG", :alt => "Bebidas", :class =>"img-responsive"%>
              <h4><a href="<%=roots_bebidas_path%>">Bebidas Fantasia</a></h4>
          </div>
          <div class="col-md-3">
              <%= image_tag "IMG_1104.JPG", :alt => "Whiskey", :class =>"img-responsive"%>
              <h4><a href="<%=roots_whisky_path%>">Whiskey</a></h4>
          </div>
          <div class="col-md-3">
              <%= image_tag "IMG_1112.JPG", :alt => "Licores", :class =>"img-responsive"%>
              <h4><a href="<%=roots_licorcrema_path%>">Licores</a></h4>
          </div>
          <div class="col-md-3">
              <%= image_tag "IMG_1135.JPG", :alt => "Tequila", :class =>"img-responsive"%>
              <h4><a href="<%=roots_tequila_path%>">Tequila</a></h4>
          </div>
          <div class="col-md-3">
              <%= image_tag "IMG_1164.JPG", :alt => "Cigarros", :class =>"img-responsive"%>
              <h4><a href="<%=roots_cigarros_path%>">Cigarros y Otros</a></h4>
          </div>
   </div>
 </section>
  </body>
</html>
