<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="estilo.scss">
    <title></title>
  </head>
  <body>
    <section class="contenido wrapper">
    <div class="container">
      <h2>Vinos</h2>
      <div class="col-md-3">
        <%= image_tag 'IMG_1107.JPG', :class => "img-responsive"%>
        <h4>Botellon 120 Cabernet</h4>
        <h4>$2.200</h4>
     </div>

      <div class="col-md-3">
        <%= image_tag 'IMG_1108.JPG', :class => "img-responsive"%>
        <h4>Botellon Gato Cabernet</h4>
        <h4>$2.200</h4>
      </div>

      <div class="col-md-3">
        <%= image_tag 'IMG_1109.JPG', :class => "img-responsive"%>
        <h4>Botellon 120 Merlot</h4>
        <h4>$2.200</h4>
      </div>

      <div class="col-md-3">
        <%= image_tag 'IMG_1114.JPG', :class => "img-responsive"%>
        <h4>Botellon Exportación Merlot</h4>
        <h4>$2.200</h4>
      </div>

      <div class="col-md-3">
        <%= image_tag 'IMG_1118.JPG', :class => "img-responsive"%>
        <h4>Vino 120 Blanco</h4>
        <h4>$2.000</h4>
      </div>

      <div class="col-md-3">
        <%= image_tag 'IMG_1125.JPG', :class => "img-responsive"%>
        <h4>Vino Carmen Carmenere</h4>
        <h4>$1.800</h4>
      </div>

      <div class="col-md-3">
       <%= image_tag 'IMG_1127.JPG', :class => "img-responsive"%>
       <h4>Misiones de Rengo Carmenere</h4>
       <h4>$4.000</h4>
      </div>

      <div class="col-md-3">
        <%= image_tag 'IMG_1128.JPG', :class => "img-responsive"%>
        <h4>Casillero del Diablo Cabernet</h4>
        <h4>$4.100</h4>
      </div>

      <div class="col-md-3">
        <%= image_tag 'IMG_1129.JPG', :class => "img-responsive"%>
        <h4>Misiones de Rengo Cabernet</h4>
        <h4>$2.500</h4>
      </div>

      <div class="col-md-3">
        <%= image_tag 'IMG_1130.JPG', :class => "img-responsive"%>
        <h4>Vino Pinot Cabernet</h4>
        <h4>$2.400</h4>
     </div>
   </div>
 </section>
  </body>
</html>
