<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="estilo.scss">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h2>Vinos</h2>
    <div class="col-md-3">
      <div class="thumbnail">
    <%= image_tag '120 botellon cs.jpg', :class => "img-responsive"%>
    </div>
  </div>

    <div class="col-md-3">
      <div class="thumbnail">
    <%= image_tag '120 cs syra botellon.jpg', :class => "img-responsive"%>
  </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
    <%= image_tag '120 tres medallas.jpg', :class => "img-responsive"%>
  </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
      <%= image_tag '120-3-medallas-sauvignon-bco-x-700.jpg', :class => "img-responsive"%>
    </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
    <%= image_tag 'Medalla real vino.jpg', :class => "img-responsive"%>
  </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
    <%= image_tag 'Pinot cabernet.jpg', :class => "img-responsive"%>
  </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
    <%= image_tag 'Exportacion botellon.jpg', :class => "img-responsive"%>
  </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
    <%= image_tag '120 tres medallas.jpg', :class => "img-responsive"%>
  </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
    <%= image_tag 'misiones de rengo.jpg', :class => "img-responsive"%>
  </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
    <%= image_tag 'misiones de rengo carmenere.jpg', :class => "img-responsive"%>
    </div>
  </div>


    <div class="col-md-3">
      <div class="thumbnail">
      <%= image_tag 'Casillero del Diablo.jpg', :class => "img-responsive"%>
    </div>
  </div>

    <div class="col-md-3">
      <div class="thumbnail">
      <%= image_tag 'Vino Carmen.png', :class => "img-responsive"%>
    </div>
  </div>


    </div>

  </body>
</html>
