<!DOCTYPE html>
<html>
  <head>
    <title>BotilleriaRoots</title>
    <script src="slider.js" charset="utf-8"></script>
    <link rel="stylesheet" href="estilo.scss">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= csrf_meta_tags %>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>

  <body>

    <header>
	<nav>
		<ul>
			<li><a href="<%= roots_inicio_path%>">Inicio</a></li>
			<li><a href="<%= roots_productos_path%>">Productos</a></li>
			<li><a href="<%= roots_contacto_path%>">Contacto</a></li>
      
		</ul>
	</nav>
</header>
    <%= yield %>

  </body>
</html>
