<!DOCTYPE html>
<html>
  <head>
    <title>BotilleriaRoots</title>
    <style src="estilo.css" type="text/css"></style>
    <script src="menu.js" type"javascript"></script>
    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="headroom.min.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-sacel=1.0, maximunm-scale=1.0, minimun-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" src="font-awesome.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header id="header">
       <nav class="menu">
         <div class="logo">
           <%= image_tag 'roots.png', :id => 'logo'%>
           <a href="#" class="btn-menu" id="btn-menu"><i class=" icono fa fa-bars" aria-hidden="true"></i></a>
         </div>

         <div class="enlaces" id="enlaces">
           <a href="<%=roots_inicio_path%>">Inicio</a>
           <a href="<%=roots_productos_path%>">Productos</a>
           <a href="<%=roots_contacto_path%>">Contacto</a>
           <a href="<%=roots_carrito_path%>">Compra Aqui</a>
         </div>
       </nav>
     </header>
    <%= yield %>

  </body>
</html>
